pipeline/Get RP Session Token.json
{
	"name": "Get RP Session Token",
	"properties": {
		"activities": [
			{
				"name": "Get RP Session Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@{pipeline().parameters.rpBaseUrl}login?client=@{pipeline().parameters.rpClientID}",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"clientId\": \"@{pipeline().parameters.rpClientID}\",\n    \"username\": \"@{pipeline().parameters.rpUserName}\",\n    \"password\": \"@{pipeline().parameters.rpUserPassword}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable rpSessionToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get RP Session Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "rpSessionToken",
							"value": {
								"type": "Expression",
								"content": "@activity('Get RP Session Token').output.ADFWebActivityResponseHeaders['RpxSession-Id']"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"rpClientID": {
				"type": "string"
			},
			"rpUserName": {
				"type": "string"
			},
			"rpUserPassword": {
				"type": "string"
			},
			"rpBaseUrl": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Documents"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-25T19:01:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}