pipeline/Lookup Iteration Data.json
{
	"name": "Lookup Iteration Data",
	"properties": {
		"activities": [
			{
				"name": "Lookup iteration Data Details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "with recursive iteration_data as (\n    select 1 iteration_start\n    , case when max(row_num) > 5000 then 5000 else max(row_num) end as iteration_stop\n    , 1 iteration \n    , max(row_num) max_row_num\n    from @{pipeline().parameters.tableName}\n    union all\n    select id.iteration_start + 5000\n    , case when id.max_row_num > id.iteration_start + (5000 * (id.iteration + 1)) then id.iteration_start -1 + (5000 * (id.iteration + 1)) else id.max_row_num end as iteration_stop\n    , id.iteration + 1\n    , id.max_row_num\n    from iteration_data id\n    inner join @{pipeline().parameters.tableName} ds on ds.row_num = id.iteration_start\n    \n)\n\nselect * from iteration_data where iteration_start < max_row_num;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().parameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().parameters.rp_server_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Pipeline result set",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup iteration Data Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "iteration_data_array",
							"value": {
								"type": "Expression",
								"content": "@activity('Lookup iteration Data Details').output.value"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"tableName": {
				"type": "string",
				"defaultValue": "migration_user_data"
			},
			"rp_db_name": {
				"type": "string"
			},
			"rp_server_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "common"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-25T11:56:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}