pipeline/RP Session Token Tester.json
{
	"name": "RP Session Token Tester",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline Get RP Session Token",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get RP Session Token",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"rpClientID": {
							"value": "@pipeline().parameters.rpClientId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable rpSessionToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Get RP Session Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rpSessionToken",
					"value": {
						"value": "@activity('Execute Pipeline Get RP Session Token').output.pipelineReturnValue.rpSessionToken",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"rpClientId": {
				"type": "string",
				"defaultValue": "afsvision_preparis"
			}
		},
		"variables": {
			"rpSessionToken": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testers and Misc"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-14T10:53:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}