pipeline/Test Create Recovery Planner Sites.json
{
	"name": "Test Create Recovery Planner Sites",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Create Recovery Planner Sites",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"json_data": {
							"value": "@variables('test_array')",
							"type": "Expression"
						},
						"PortalEntityID": "987654321"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "select user_site_json from user_site_migration_data;\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test_array",
					"value": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"test_array": {
				"type": "Array",
				"defaultValue": [
					{
						"siteFax": "ronTest",
						"siteZip": null,
						"siteCity": "TBD",
						"siteName": "Test Alt Site",
						"newUserId": "83e9a761-c4fa-11ee-b23f-6045bd7c0953",
						"siteState": null,
						"siteRegion": null,
						"primarySite": 1,
						"siteAddress": "TBD",
						"siteCountry": 2,
						"siteAddress2": null,
						"siteLatitude": "",
						"siteLongitude": "",
						"siteDescription": null,
						"sitePhoneNumber": "",
						"siteGeneralEmail": null,
						"newSiteLocationId": "83ef4ff2-c4fa-11ee-b23f-6045bd7c0953"
					},
					{
						"siteFax": "",
						"siteZip": "06611",
						"siteCity": "Trumbull",
						"siteName": "Main Site (1)",
						"newUserId": "83e9a761-c4fa-11ee-b23f-6045bd7c0953",
						"siteState": "CT",
						"siteRegion": null,
						"primarySite": 1,
						"siteAddress": "101 Merritt Blvd.",
						"siteCountry": 2,
						"siteAddress2": null,
						"siteLatitude": "41.23933",
						"siteLongitude": "-73.14601",
						"siteDescription": null,
						"sitePhoneNumber": "+1 (203) 455-9990",
						"siteGeneralEmail": null,
						"newSiteLocationId": "83ef5074-c4fa-11ee-b23f-6045bd7c0953"
					}
				]
			}
		},
		"folder": {
			"name": "Backup"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-15T15:58:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}